<div class="container">
  <h1 class="text-primary mb-3">Votes of {{ this.description }}</h1>

  <div *ngFor="let vote of this.nominationVotes">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ getDate(vote.votedAt) }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ vote.chamber | titlecase }}
            </h6>
            <span class="card-text">
              {{ vote.question }}
            </span>
            <br />
            <span class="card-text">
              {{ vote.result }}
            </span>
            <br />
            <a
              class="btn btn-primary mt-3 mb-3"
              role="button"
              [routerLink]="['/votes/vote/rollID', this.vote.rollID]"
              >Detail</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
