<div class="container">
  <h1 class="text-center mb-3 text-primary">
    Following Nominations
  </h1>

  <div *ngFor="let nomination of this.nominations">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <span class="card-text font-weight-bold">
              <a
                [routerLink]="[
                  '/nominations/nomination/nominationID',
                  nomination.nominationID
                ]"
                >{{ nomination.description }}</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.nominations.length">
    <h3 class="text-center mb-3 text-primary">No Nominations</h3>
  </div>
</div>
